target
statefun-examples/statefun-demonstration-example/out/artifacts/statefun_demonstration_example_jar/statefun-demonstration-example.jar
statefun-examples/statefun-demonstration-example/src/main/java/META-INF/MANIFEST.MF
